@model ENTIDAD.CARGO

@{
    ViewBag.Title = "Cargodetalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deatalle de los Cargos</h2>

<div>
    
    <hr />
    <h4>CARGO</h4>
    <dl class="dl-horizontal">

        <dt>
            <label>Numero Identificador</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID_CARGO)
        </dd>
        <dt>
            <label> Cargo </label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CARGO1)
        </dd>
    </dl>
</div>
<p>
   
    <a class="btn btn-primary" style="border-bottom:double" href="@Url.Action("editar","Cargo",new {id = Model.ID_CARGO})"><i class="glyphicon glyphicon-edit"></i> Editar</a> 
    <a class="btn btn-danger" style="border-bottom:double" href="@Url.Action("Index","Cargo")"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
</p>
