@{
    ViewBag.Title = "Acerca DE";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este es un sistema creado para facilitar el manejo de las ordenes de trabajo que se hacen en la institucion.</p>

<div>    
<h3>Contacto</h3>

<address>
     San Lorenzo, Valle<br />
     Barrio la ceibita<br />
    <abbr title="Celular">Cell:</abbr>
    33662071
</address>

    <address>
        <abbr title="Correo">Email:</abbr>
        santos_angel93@yahoo.com
    </address>
    </div>
