@model ENTIDAD.TIPOSERVICIO

@{
    ViewBag.Title = "detalleservicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle de las categorias de los servicios</h2>

<div>
    <hr />
    <h4>TIPO DE SERVICIO</h4>
    <dl class="dl-horizontal">
        <dt>
            <label>NUMERO IDENTIFICADOR</label>           
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CATEGORIA)
        </dd>

        <dt>
            <label>CATERGORIAS O SERVICIOS DE TRABAJOS</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORIA)
        </dd>
    </dl>
</div>
<p>
    <a class="btn btn-primary" style="border-bottom:double" href="@Url.Action("editar","Tiposervi",new {id = Model.ID_CATEGORIA})"><i class="glyphicon glyphicon-edit"></i> Editar</a> 
    <a class="btn btn-danger" style="border-bottom:double" href="@Url.Action("Index","Tiposervi")"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
</p>
